{% extends "base.html" %}

{% block content %}
    <style>
        .error{
            color = red;
        }
    </style>
    <h1>Signup</h1>
    <form action = "/">
        Username: <input type = "text" name = "username"><br>
        <p class = error>{username_error}</p>
        Password:      <input type = "password" name = "password_one"><br>
        <p class = error>{password_error}</p>
        Verify Password: <input type = "password" name = "password_two"><br>
        <p class = error>{password_error_two}</p>
        Email (optional): <input type = "text" name = "email"><br>
        <p class = error>{email_error}</p>
        <input type = "submit" value = "Submit">

    </form>

{% endblock %}